@model project3.Models.Employee

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Edit</h2>



<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <label for="floatingInput">FirstName</label>
        <div class="col-md-10">
            <input class="form-control bg-gray border-0" value="@Model.FirstName" disabled />
        </div>
    </div>

    <div class="form-group">
        <label for="floatingInput">LastName</label>
        <div class="col-md-10">
            <input class="form-control bg-gray border-0" value="@Model.LastName" disabled />

        </div>
    </div>

    <div class="form-group">
        <label for="floatingInput">UserName</label>
        <div class="col-md-10">
            <input class="form-control bg-gray border-0" value="@Model.UserName" disabled />

        </div>
    </div>

    <div class="form-group">
        <label for="floatingInput">Sex</label>
        <div class="col-md-10">
            <input class="form-control bg-gray border-0" value="@Model.Sex" disabled />

        </div>
    </div>

    <div class="form-group">
        <label for="floatingInput">Address</label>
        <div class="col-md-10">
            <input class="form-control bg-gray border-0" value="@Model.Address" disabled />

        </div>
    </div>

    <div class="form-group">
        <label for="floatingInput">Email</label>
        <div class="col-md-10">
            <input class="form-control bg-gray border-0" value="@Model.Email" disabled />

        </div>
    </div>
    <div class="form-group">
        <label for="floatingInput">PhoneNumber</label>
        <div class="col-md-10">
            <input name="PhoneNumber" class="form-control bg-gray border-0" value="@Model.PhoneNumber" disabled />

        </div>
    </div>
    @using (Html.BeginForm("Decentralization", "Employees", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.em_ID)
        <div class="form-group">
            Role
            <div class="col-md-10">
                @if (ViewBag.Group != null)
                {
                    foreach (project3.Models.Group item in ViewBag.Group)
                    {
                        <input class="form-check-input ms-3" type="checkbox" name="gruID" value="@item.gru_ID" /> @item.NameGr
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
