@model IEnumerable<project3.Models.Auction>
@{
    ViewBag.Title = "Auction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Auction</span>
            </nav>
        </div>
    </div>
</div>


<!-- Breadcrumb End -->
<!-- Offer Start -->
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <h2>Current Auction</h2>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5 ">
        <div class="col owl-carousel related-carousel-auction ">
            @*<div class="product-offer mb-30" style="height: 300px; ">
                    <img class="img-fluid" src="img/product-1.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="shop.html" class="btn btn-primary">Go to auction</a>
                    </div>
                </div>*@
            @if (Model != null)
            {
                foreach (project3.Models.Auction item in Model)
                {
                    <script>
                         $(document).ready(function () {
                             var targetDateTime = new Date("@item.EndTime.ToString()");

                             var timer = setInterval(function () {
                                 var currentDate = new Date();
                                 var difference = targetDateTime - currentDate;


                                 var days = Math.floor(difference % (1000 * 60 * 60 * 24 *30) / (1000 * 60 * 60 * 24));
                                 var hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                 var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
                                 var seconds = Math.floor((difference % (1000 * 60)) / 1000);

                                 $("#countdown").html(days + "d " + hours + "h " + minutes + "m " + seconds + "s");
                                 $("#now").html(currentDate);

                                 if (difference < 0) {
                                     clearInterval(timer);
                                     $("#countdown").html("Countdown finished");
                                 }
                             }, 1000);
                         });
                    </script>
                    <div class="product-offer mb-30" style="height: 300px;">
                        <img class="img-fluid" src="data:image; base64, @System.Convert.ToBase64String(@item.REL_Pro_Au.ElementAt(0).Product.Images.ElementAt(0).Img)" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase" id="countdown"></h6>
                            <h3 class="text-white mb-3">@item.NameAu</h3>
                            <a href="" class="btn btn-primary">Go to auction</a>
                        </div>
                    </div>
                }
            }
            @*<div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="img/product-2.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary">Bid Now</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="img/offer-3.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary">Bid Now</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="img/offer-4.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary">Bid Now</a>
                    </div>
                </div>*@
        </div>


    </div>
</div>
<!-- Offer End -->
<!-- Offer Start -->
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <h2>Upcoming Auction</h2>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5 ">
        <div class="col owl-carousel related-carousel-auction ">
            @if (ViewBag.Auctions != null)
            {
                foreach (project3.Models.Auction item in ViewBag.Auctions)
                {
                    <script>
              $(document).ready(function () {
                  var targetDateTime = new Date("@item.EndTime.ToString()");

                  var timer = setInterval(function () {
                      var currentDate = new Date();
                      var difference = targetDateTime - currentDate;


                      var days = Math.floor(difference % (1000 * 60 * 60 * 24 *30) / (1000 * 60 * 60 * 24));
                      var hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
                      var seconds = Math.floor((difference % (1000 * 60)) / 1000);

                      $("#countdown").html(days + "d " + hours + "h " + minutes + "m " + seconds + "s");
                      $("#now").html(currentDate);

                      if (difference < 0) {
                          clearInterval(timer);
                          $("#countdown").html("Countdown finished");
                      }
                  }, 1000);
              });
                    </script>
                    <div class="product-offer mb-30" style="height: 300px;">
                        <img class="img-fluid" src="data:image; base64, @System.Convert.ToBase64String(@item.REL_Pro_Au.ElementAt(0).Product.Images.ElementAt(0).Img)" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase" id="countdown"></h6>
                            <h3 class="text-white mb-3">@item.NameAu</h3>
                            <a href="" class="btn btn-primary">Go to auction</a>
                        </div>
                    </div>
                }
            }
            <div class="product-offer mb-30" style="height: 300px; ">
                <img class="img-fluid" src="img/product-1.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="shop.html" class="btn btn-primary">Go to auction</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="img/product-2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Bid Now</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="img/offer-3.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Bid Now</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="img/offer-4.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Bid Now</a>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Offer End -->
