@model project3.Models.Product
@{
    ViewBag.Title = "Sell_products_details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

<!-- Shop Detail Start -->
<div class="container-fluid pb-5 slideshow-container">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    @for (int i = 1; i <= Model.Images.Count(); i++)
                    {

                        <div class="@(i==1?"mySlides carousel-item":"mySlides carousel-item active")">
                            <img class="w-100 h-100" src="data:image; base64, @System.Convert.ToBase64String(Model.Images.ElementAt(i-1).Img)" alt="Image">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
            <div style="text-align:center" class="row mt-2">
                @for (int i = 1; i <= Model.Images.Count(); i++)
                {
                    <div class="col-3">
                        <img src="data:image; base64, @System.Convert.ToBase64String(Model.Images.ElementAt(i-1).Img) " class="dot" onclick="currentSlide(@i)"
                             style="width:80%">
                    </div>
                }
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
             $(document).ready(function () {
                 var targetDateTime = new Date("@Model.EndTime.ToString()");

                 var timer = setInterval(function () {
                     var currentDate = new Date();
                     var difference = targetDateTime - currentDate;


                     var days = Math.floor(difference % (1000 * 60 * 60 * 24 *30) / (1000 * 60 * 60 * 24));
                     var hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                     var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
                     var seconds = Math.floor((difference % (1000 * 60)) / 1000);

                     $("#countdown").html(days + "d " + hours + "h " + minutes + "m " + seconds + "s");
                     $("#now").html(currentDate);

                     if (difference < 0) {
                         clearInterval(timer);
                         $("#countdown").html("Countdown finished");
                         $(".disabled-timeout").attr("disabled", "disabled");
                         $("#price-input").val("timeout");
                         $("#bid-form").submit();
                     }
                 }, 1000);
             });
        </script>

        <div class="col-lg-7 h-auto mb-30">
            @using (Html.BeginForm("Bid", "Shop", FormMethod.Post, new { @id = "bid-form" }))
            {
                <div class="h-100 bg-light p-30">
                    <h3>@Model.NamePro</h3>
                    <div class="product_detail_box mb-3 mt-3">
                        <div class="product_detail_box_title">
                            <strong>
                                <span>Current price:</span>
                            </strong>
                        </div>
                        <div class="product_detail_box_body mt-4 ml-4 ">
                            <div class="row">
                                <div class="col-6">
                                    <div class="product_detail__box_price mb-3">
                                        <strong class="font_size_24 color_price_main fw-semibold"
                                                data-refresh-price="">@Model.REL_Pro_Au.ElementAt(0).Bids.ElementAt(Model.REL_Pro_Au.ElementAt(0).Bids.Count() - 1).Price &nbsp;$</strong>
                                                <br>
                                            </div>
                                            <div>
                                                <strong class="color_note">
                                                    Start time: <span class="color_text_primary">@Model.StartTime</span>
                                                </strong>
                                            </div>
                                            <div>
                                                <strong class="color_note">
                                                    End time: <span class="color_text_primary">
                                                        @Model.EndTime
                                                    </span>
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product_detail_box mb-3 mt-3">
                                <div class="product_detail_box_title">
                                    <strong>
                                        <span>Description:</span>
                                    </strong>
                                </div>
                                <div class="product_detail_box_body mt-4 ml-4 ">
                                    <div class="tab-pane fade show active" id="tab-pane-1">
                                        <h4 class="mb-3">Product Description</h4>

                                        <p>
                                            @Model.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="product_detail_box ">
                                <div class="product_detail_box_title">
                                    <strong>
                                        <span>Bid:</span>
                                    </strong>
                                </div>
                                <div class="mt-4 ml-4">
                                    <strong class="color_note" id="countdown">
                                        <span class="color_text_primary"> | @Model.REL_Pro_Au.ElementAt(0).Bids.Count() Auctions</span>
                                    </strong>
                                </div>
                                <div class="product_detail_box_body mt-4 ml-4 ">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="input-group quantity mr-3" style="width: 130px;">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary btn-minus">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input type="number" name="price-input" id="price-input"
                                                       class="form-control bg-secondary border-0 text-center" value="0" min="1" onkeyup="mybid()">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary btn-plus">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            Your price: <p id="your-price"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mb-3">

                            </div>
                            <div class="d-flex mb-4">

                            </div>
                            <div class="d-flex align-items-center mb-4 pt-2 ">
                                <button type="submit" style="border-radius: 5px; border: 1px solid #fd7e14;"
                                        class="btn px-3 ml-3 bid disabled-timeout">
                                    Bid
                                    Now
                                </button>

                            </div>
                            <div class="d-flex pt-2">
                                <strong class="text-dark mr-2">Share on:</strong>
                                <div class="d-inline-flex">
                                    <a class="text-dark px-2" href="">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="text-dark px-2" href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="text-dark px-2" href="">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a class="text-dark px-2" href="">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                    @if (Model.EndTime <= DateTime.Now && (Model.cus_ID == Int32.Parse(Session["cus"].ToString()) || Model.REL_Or_Pro.ElementAt(0).Order.cus_ID == Int32.Parse(Session["cus"].ToString())))
                    {
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (@Model.REL_Pro_Au.ElementAt(0).Bids.Count)</a>
                    }
                    @if (Model.EndTime <= DateTime.Now && Model.cus_ID == Int32.Parse(Session["cus"].ToString()))
                    {
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-4">Rating</a>
                    }
                </div>
                <div class="tab-content row">
                    <div class="col-8">
                        <div class="tab-pane fade show active" id="tab-pane-2">
                            <h4 class="mb-3">Additional Information</h4>
                            <p>
                                @Model.MoreInformation
                            </p>
                        </div>
                        @if (Model.EndTime <= DateTime.Now && (Model.cus_ID == Int32.Parse(Session["cus"].ToString()) || Model.REL_Or_Pro.ElementAt(0).Order.cus_ID == Int32.Parse(Session["cus"].ToString())))
                        {
                            <div class="tab-pane fade" id="tab-pane-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        @foreach (var item in Model.REL_Or_Pro.ElementAt(0).Reviews)
                                        {
                                            <h4 class="mb-4">1 review for "@Model.NamePro"</h4>
                                            <div class="media mb-4">
                                                <img src="@Model.Customer.Img" alt="Image" class="img-fluid mr-3 mt-1"
                                                     style="width: 45px;">
                                                <div class="media-body">
                                                    <h6>@Model.Customer.UserName</h6>
                                                    <div class="text-primary mb-2">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star-half-alt"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                    <p>

                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        @if (Model.REL_Or_Pro.ElementAt(0).Order.cus_ID == Int32.Parse(Session["cus"].ToString()))
                                        {
                                            using (Html.BeginForm("Review", "Shop", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <h4 class="mb-4">Leave a review</h4>
                                                <small>
                                                    Your email address will not be published. Required fields are marked
                                                    *
                                                </small>
                                                <div class="d-flex my-3">
                                                    <p class="mb-0 mr-2">Your Rating * :</p>
                                                    <div class="text-primary">
                                                        <div id="full-stars-example-two">
                                                            <div class="rating-group">
                                                                <input disabled checked class="rating__input rating__input--none" name="review-star" id="rating3-none" value="0" type="radio">
                                                                <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="review-star" id="rating3-1" value="1" type="radio">
                                                                <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="review-star" id="rating3-2" value="2" type="radio">
                                                                <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="review-star" id="rating3-3" value="3" type="radio">
                                                                <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="review-star" id="rating3-4" value="4" type="radio">
                                                                <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                                <input class="rating__input" name="review-star" id="rating3-5" value="5" type="radio">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="message">Your Review *</label>
                                                    <textarea name="review" id="message" cols="30" rows="5" class="form-control"></textarea>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.EndTime <= DateTime.Now && Model.cus_ID == Int32.Parse(Session["cus"].ToString()))
                        {
                            <div class="tab-pane fade" id="tab-pane-4">
                                <div class="col-md-8">
                                    @using (Html.BeginForm("RatingBuyer", "Shop", FormMethod.Post))
                                    {

                                        @Html.AntiForgeryToken()
                                        <h4 class="mb-4">Rating Buyer</h4>
                                        <small>
                                            Your email address will not be published. Required fields are marked
                                            *
                                        </small>
                                        <div class="d-flex my-3">
                                            <p class="mb-0 mr-2">Your Rating * :</p>
                                            <div class="text-primary">
                                                <div id="full-stars-example-two">
                                                    <div class="rating-group">
                                                        <input disabled checked class="rating__input rating__input--none" name="rating_star" id="rating3-none" value="0" type="radio">
                                                        <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                        <input class="rating__input" name="rating_star" id="rating3-1" value="1" type="radio">
                                                        <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                        <input class="rating__input" name="rating_star" id="rating3-2" value="2" type="radio">
                                                        <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                        <input class="rating__input" name="rating_star" id="rating3-3" value="3" type="radio">
                                                        <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                        <input class="rating__input" name="rating_star" id="rating3-4" value="4" type="radio">
                                                        <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                        <input class="rating__input" name="rating_star" id="rating3-5" value="5" type="radio">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="submit" value="Rating" class="btn btn-primary px-3">
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                    @{
                        project3.Models.Customer cus = null;
                        if (Model.cus_ID == Int32.Parse(Session["cus"].ToString()))
                        {
                            cus = Model.Customer;
                        }
                        else if (Model.REL_Or_Pro.ElementAt(0).Order.cus_ID == Int32.Parse(Session["cus"].ToString()))
                        {
                            cus = Model.REL_Or_Pro.ElementAt(0).Order.Customer;
                        }
                    }
                    @if (cus != null)
                    {
                        <div class="col-4 show-modal">
                            <div class="car-dealer-wrap">
                                <div class="profile-img">
                                    @if (cus.Img != null)
                                    {
                                        <img src="data:image; base64, @System.Convert.ToBase64String(cus.Img)" alt="@cus.UserName" size="150">
                                    }

                                    @if (cus.Img == null)
                                    {
                                        <img src="~/Images/img/13e6f1f512f15fc0cd65a134e843d151.jpeg" alt="@cus.UserName" size="150">

                                    }


                                    <h3 class="dealer-title">
                                        <a class="show-modal">@cus.UserName</a>
                                    </h3>
                                </div>
                                <p class="dokan-store-address">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="state">@cus.Address</span>@*<span class="country"> Germany </span>*@
                                </p>
                                <p class="dokan-store-more ">
                                    <i class="fas fa-user"></i>
                                    <a class="show-modal">Check more offers from this vendor.</a>
                                </p>
                                <a href="mailto:no-reply@modeltheme.com" class="button btn">
                                    <i class="fa fa-envelope"></i> Send Message
                                </a>
                                <a href="tel:+30000004000" class="button btn outlines">
                                    <i class="fa fa-phone"></i> Call
                                    Vendor
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- deltails customer-->
    @if (cus != null)
    {
        <div class="wrapper-login wrapper modal-login hidden" style="position: fixed; ">
            <div class="car-dealer-wrap">
                <div class="profile-img">
                    <button class="close-modal close-modal-login">&times;</button>
                    @if (cus.Img != null)
                    {
                        <img style="padding: 20px;" src="data:image; base64, @System.Convert.ToBase64String(cus.Img)" alt="@cus.UserName" size="150">
                    }

                    @if (cus.Img == null)
                    {
                        <img style="padding: 20px;" src="~/Images/img/13e6f1f512f15fc0cd65a134e843d151.jpeg" alt="@cus.UserName" size="150">
                    }
                    <h3 class="dealer-title">
                        <a href="#">@cus.UserName</a>
                    </h3>
                </div>
                <div class="ml-3">
                    <p class="dokan-store-address">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="state">@cus.Address</span>
                    </p>
                    <p class="dokan-store-address">
                        <i class="fa-solid fa-phone"></i>
                        <span class="state">@cus.PhoneNumber</span>
                    </p>
                    <p class="dokan-store-address">
                        <i class="fa-solid fa-envelope"></i>
                        <span class="state">@cus.Email</span>
                    </p>
                    <p class="dokan-store-address">
                        <i class="fa-solid fa-user"></i>
                        <span class="state">@cus.Sex</span>
                    </p>
                </div>
                <div class="ml-5 pt-2">
                    <a href="mailto:no-reply@modeltheme.com" class="button btn">
                        <i class="fa fa-envelope"></i> Send
                        Message
                    </a>
                    <a href="tel:+30000004000" class="button btn outlines">
                        <i class="fa fa-phone"></i> Call
                        Vendor
                    </a>
                </div>
            </div>
        </div>
    }

</div>
@*<div class="overlay hidden" style="position: fixed;"></div>*@
<!-- Shop Detail End -->
