@using PagedList
@model IPagedList<project3.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* Breadcrumb Start *@
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Products</a>
                <span class="breadcrumb-item active">Products List</span>
            </nav>
        </div>
    </div>
</div>
@*Breadcrumb End *@
@* Shop Start *@
<div class="container">

    <!-- Shop Product Start -->
    <div>
        <div class="row pb-3">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">

                                <img class="img-fluid w-100" src="data:image; base64, @System.Convert.ToBase64String(item.Images.ElementAt(0).Img)" />

                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="~/User/Shop/Details/@item.pro_ID"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="@Url.Action("Index", "Shop", new {search = item.NamePro})"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href=""> <h4>@item.NamePro</h4></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$@item.StartingPrice</h5>
                                    <h6 class="text-muted ml-2"><del>$@item.StepPrice</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1 countdown" id="countdown" data-countdown="@item.EndTime">

                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (ViewBag.Shop.Count > Model.PageSize)
            {
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="@Url.Action("Sell_roducts", new { pi = Model.PageNumber > 1 ? Model.PageNumber - 1 : Model.PageNumber })"><span>Previous</span></a></li>
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="@(Model.PageNumber==i?"page-item active":"page-item")"><a class="page-link" href="@Url.Action("Sell_products", new { pi = i })">@i</a></li>
                            }
                            <li class="page-item"><a class="page-link" href="@Url.Action("Sell_products", new { pi = Model.PageNumber < Model.PageCount ? Model.PageNumber + 1 : Model.PageNumber })">Next</a></li>
                        </ul>
                    </nav>
                </div>
            }
        </div>
    </div>
    <!-- Shop Product End -->
</div>
</div>
<!-- Shop End -->
