@model project3.Models.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Profile -->
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slidesName = document.getElementsByClassName("mySlideContent");
        let content = document.getElementsByClassName("mySlideName");
        if (n > slidesName.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slidesName.length }
        for (i = 0; i < slidesName.length; i++) {
            slidesName[i].style.display = "none";
        }
        for (i = 0; i < content.length; i++) {
            content[i].className = content[i].className.replace(" active", "");
        }
        slidesName[slideIndex - 1].style.display = "block";
        content[slideIndex - 1].className += " active";
    }
</script>
<div class="container">
    <div class="container row">
        <div class="col-3">
            <div class="side-content">
                <div class="profile-img">
                    <img class="auction-avatar__img mr-4" src="data:image; base64, @System.Convert.ToBase64String(Model.Images.ElementAt(0).Img)" alt="">
                    <div class="miwGmI">
                        <div class="mC1Llc">@Model.UserName</div>
                    </div>
                </div>
            </div>
            <div class="rhmIbk">
                <div class="stardust-dropdown stardust-dropdown--open">
                    <div class="stardust-dropdown__item-header">
                        <a class="+1U02e" href="#">
                            <div class="bfikuD">
                                <img src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4">
                            </div>
                            <div class="DlL0zX"><span class="adF7Xs">My Account</span></div>
                        </a>
                    </div>
                    <div class="stardust-dropdown__item-body stardust-dropdown__item-body--open"
                         style="opacity: 1;"></div>
                    <div class="Yu7gVR">
                        <a class="FEE-3D tH0d6d" class="mySlidesName"
                           onclick="currentSlide(1)"><span class="qyt-aY">Profile</span></a>
                        <!-- <a class="FEE-3D" href="#"><span class="qyt-aY" class="mySlidesName" onclick="currentSlide(2)">Ngân hàng</span> -->
                        <a class="FEE-3D" class="mySlidesName" onclick="currentSlide(2)">
                            <span class="qyt-aY">
                                Change
                                Password
                            </span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="stardust-dropdown">
                <div class="stardust-dropdown__item-header">
                    <a class="+1U02e" href="#">
                        <div class="bfikuD">
                            <img src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078">
                        </div>
                        <div class="DlL0zX " class="mySlidesName" onclick="currentSlide(3)">
                            <span class="adF7Xs">Order</span>
                        </div>
                    </a>
                </div>
                <div class="stardust-dropdown__item-body" style="opacity: 0;">
                    <div class="Yu7gVR"></div>
                </div>
            </div>
            <div class="stardust-dropdown">
                <div class="stardust-dropdown__item-header">
                    <a class="+1U02e" href="#">
                        <div class="bfikuD">
                            <img src="https://down-vn.img.susercontent.com/file/e10a43b53ec8605f4829da5618e0717c">
                        </div>
                        <div class="DlL0zX" class="mySlidesName" onclick="currentSlide(4)">
                            <span class="adF7Xs">Notification</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="xMDeox">
                <div class="Hvae38" role="main">
                    <div style="display: contents;">
                        <div class="utB99K mySlideContent" style="display: block;">
                            <div class="SFztPl">
                                <h1 class="BVrKV_">My profile</h1>
                                <div class="QcW5xy">Manage profile information to secure your account</div>
                            </div>
                            <div class="RCnc9v">
                                <div class="HrBg9Q">
                                    @using (Html.BeginForm("UpdateUser", "Customers", FormMethod.Post))
                                    {

                                        @Html.AntiForgeryToken()
                                        <table class="bQkdAY">
                                            <tr>
                                                <td class="f1ZOv_"><label>User Name</label></td>
                                                <td class="o6L4e0">
                                                    <div>
                                                        <div class="NGoa5Z">
                                                            <input type="text" class="kKnR04" name="username" value="@Model.UserName" fdprocessedid="86i4jw">

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_"><label>Email</label></td>
                                                <td class="o6L4e0">
                                                    <div>
                                                        <div class="NGoa5Z">
                                                            <input type="text" name="email"
                                                                   class="kKnR04" value="@Model.Email"
                                                                   fdprocessedid="86i4jw">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_"><label>PhoneNumber</label></td>
                                                <td class="o6L4e0">
                                                    <!-- <div class="e_Vt__">
                                                        <div class="PBfYlq">*********</div><button class="clo49Q"
                                                            fdprocessedid="q47tp9">Thay đổi</button>
                                                    </div> -->
                                                    <div>
                                                        <div class="NGoa5Z">
                                                            <input type="text" name="phone"
                                                                   class="kKnR04" value="@Model.PhoneNumber"
                                                                   fdprocessedid="86i4jw">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_"><label>Address</label></td>
                                                <td class="o6L4e0">
                                                    <div>
                                                        <div class="NGoa5Z">
                                                            <input type="text" name="address"
                                                                   class="kKnR04" value="@Model.Address"
                                                                   fdprocessedid="86i4jw">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_"><label>Gender</label></td>
                                                <td class="o6L4e0">
                                                    <input type="radio" name="sex" value="Male" checked>Male
                                                    <input type="radio" name="sex" value="Female">Female
                                                    <input type="radio" name="sex" value="Other"> Other
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_">
                                                    <label>Day of birth</label>
                                                </td>
                                                <td class="o6L4e0">
                                                    <input type="datetime-local" value="2020-02-03">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_"><label></label></td>
                                                <td class="o6L4e0">
                                                    <button type="button"
                                                            class="btn btn-solid-primary-profile btn--m btn--inline show-modal"
                                                            aria-disabled="false" fdprocessedid="jw0kcd">
                                                        Save
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- confirm passs-->
                                        <div class="wrapper-login wrapper modal-login hidden"
                                             style="position: fixed; ">
                                            <div class="car-dealer-wrap">
                                                <div class="profile-img">
                                                    <button class="close-modal close-modal-login">&times;</button>                                                    
                                                    <h3 class="pt-4">
                                                        Confirm Password
                                                    </h3>
                                                </div>
                                                <div class="m-auto p-auto">
                                                    <input type="password" name="password" id="password"
                                                           placeholder="Confirm password">
                                                </div>
                                                <div class="m-auto p-auto pt-3">
                                                    <button type="submit"
                                                            class="btn btn-solid-primary-profile btn--m btn--inline show-modal"
                                                            aria-disabled="false" fdprocessedid="jw0kcd">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="overlay hidden" style="position: fixed;"></div>
                            </div>
                        </div>
                        <!-- change Password -->
                        <div class="utB99K mySlideContent" style="display: none;">
                            <div class="SFztPl">
                                <h1 class="BVrKV_">Change Password</h1>
                                <div class="QcW5xy">Manage profile information to secure your account</div>
                            </div>
                            <div class="RCnc9v">
                                <div class="HrBg9Q">
                                    @using (Html.BeginForm("ChangePass", "Customers", FormMethod.Post))
                                    {

                                        @Html.AntiForgeryToken()
                                        <table class="bQkdAY">
                                            <tr>
                                                <td class="f1ZOv_"><label>Old pasword</label></td>
                                                <td class="o6L4e0">
                                                    <div>
                                                        <div class="NGoa5Z">
                                                            <input type="text" name="old_pass"
                                                                   placeholder="Enter old password" class="kKnR04"
                                                                   value="" fdprocessedid="86i4jw">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_"><label>New password</label></td>
                                                <td class="o6L4e0">
                                                    <div>
                                                        <div class="NGoa5Z">
                                                            <input type="text" name="new_pass"
                                                                   placeholder="Enter new password" class="kKnR04"
                                                                   value="" fdprocessedid="86i4jw">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_"><label>Confirm new password</label></td>
                                                <td class="o6L4e0">
                                                    <div>
                                                        <div class="NGoa5Z">
                                                            <input type="text" name="confirm_pass"
                                                                   placeholder="Enter new password" class="kKnR04"
                                                                   value="" fdprocessedid="86i4jw">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="f1ZOv_"><label></label></td>
                                                <td class="o6L4e0">
                                                    <button type="button"
                                                            class="btn btn-solid-primary-profile btn--m btn--inline"
                                                            aria-disabled="false" fdprocessedid="jw0kcd">
                                                        Save
                                                        change
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- order -->
                        <div class=" mySlideContent" style="display: none;">
                            <table class="table table-light table-borderless table-hover text-center mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Products</th>
                                        <th>Price</th>
                                        <th>Time Action</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    <!--<tr>
                                        <td class="align-middle">
                                            <img src="img/product-1.jpg" alt=""
                                                 style="width: 50px;"> Product Name
                                        </td>
                                        <td class="align-middle">$150</td>
                                        <td class="align-middle">
                                            2024.03.08 (Fri) 06:20
                                        </td>
                                        <td class="align-middle">
                                            <div class="input-field input-field-login-rating">-->
                                    <!-- <input type="submit" class="submit submit-login" name="submit" id="submit" value="Sign Up"> -->
                                    <!--<a href="#rating?cus_ID=" onclick="currentSlide(5)"
                                                   class="rating fs-5">Rating Seller</a>
                                            </div>
                                        </td>
                                    </tr>-->
                                    @if (ViewBag.pro_id != null)
                                    {
                                        foreach (project3.Models.Product item in ViewBag.pro_id)
                                        {
                                            <tr>
                                                <td class="align-middle">
                                                    <img src="data:image; base64, @System.Convert.ToBase64String(item.REL_Pro_Au.ElementAt(0).Product.Images.ElementAt(0).Img)" alt=""
                                                         style="width: 50px;"> @item.REL_Pro_Au.ElementAt(0).Product.NamePro
                                                    </td>
                                                    <td class="align-middle">$@item.REL_Pro_Au.ElementAt(0).Bids.ElementAt(item.REL_Pro_Au.ElementAt(0).Bids.Count() - 1).Price</td>
                                                    <td class="align-middle">
                                                        @item.REL_Pro_Au.ElementAt(0).Bids.ElementAt(item.REL_Pro_Au.ElementAt(0).Bids.Count() - 1).Time
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="input-field input-field-login-rating">
                                                            <!-- <input type="submit" class="submit submit-login" name="submit" id="submit" value="Sign Up"> -->
                                                            <a href="#rating?cus_ID=" onclick="currentSlide(5)"
                                                               class="rating fs-5">Rating Seller</a>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        }


                                        @*<tr>
                                                <td class="align-middle">
                                                    <img src="img/product-3.jpg" alt=""
                                                         style="width: 50px;"> Product Name
                                                </td>
                                                <td class="align-middle">$150</td>
                                                <td class="align-middle">
                                                    2024.03.08 (Fri) 06:20
                                                </td>
                                                <td class="align-middle">Successfully</td>

                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <img src="img/product-4.jpg" alt=""
                                                         style="width: 50px;"> Product Name
                                                </td>
                                                <td class="align-middle">$150</td>
                                                <td class="align-middle">
                                                    2024.03.08 (Fri) 06:20
                                                </td>
                                                <td class="align-middle">Unsuccessfully</td>

                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <img src="img/product-1.jpg" alt=""
                                                         style="width: 50px;"> Product Name
                                                </td>
                                                <td class="align-middle">$150</td>
                                                <td class="align-middle">
                                                    2024.03.08 (Fri) 06:20
                                                </td>
                                                <td class="align-middle">Successfully</td>

                                            </tr>*@
                                </tbody>
                            </table>
                        </div>
                        <!-- notification -->
                        <div class="utB99K mySlideContent pb-3" style="display: none;">
                            <div class="SFztPl">
                                <h1 class="BVrKV_">Notification</h1>
                                <div class="QcW5xy">Manage profile information to secure your account</div>
                            </div>
                            @if (ViewBag.Pid != null)
                            {
                                foreach (project3.Models.Product item in ViewBag.Pid)
                                {
                                    <div class="d-flex align-items-center border-bottom py-3 ">
                                        <img class="rounded-circle flex-shrink-0" src="@Model.Img" alt=""
                                             style="width: 40px; height: 40px;">
                                        <div class="w-100 ml-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-0">@Model.UserName</h6>
                                                <small>  </small>
                                            </div>
                                            <span>@item.Notifications.ElementAt(0).NoDetails</span>
                                        </div>
                                    </div>
                                }
                            }
                            @*<div class="d-flex align-items-center border-bottom py-3 ">
                                        <img class="rounded-circle flex-shrink-0" src="" alt=""
                                             style="width: 40px; height: 40px;">
                                        <div class="w-100 ml-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-0"></h6>
                                                <small>  </small>
                                            </div>
                                            <span>Short message goes here...</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center border-bottom py-3">
                                        <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt=""
                                             style="width: 40px; height: 40px;">
                                        <div class="w-100 ml-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-0">Jhon Doe</h6>
                                                <small>15 minutes ago</small>
                                            </div>
                                            <span>Short message goes here...</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center border-bottom py-3">
                                        <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt=""
                                             style="width: 40px; height: 40px;">
                                        <div class="w-100 ml-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-0">Jhon Doe</h6>
                                                <small>15 minutes ago</small>
                                            </div>
                                            <span>Short message goes here...</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center pt-3">
                                        <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt=""
                                             style="width: 40px; height: 40px;">
                                        <div class="w-100 ml-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-0">Jhon Doe</h6>
                                                <small>15 minutes ago</small>
                                            </div>
                                            <span>Short message goes here...</span>
                                        </div>
                                    </div>
                                </div>*@
                            <!---rating -->
                            <div id="rating" class=" mySlideContent m-5" style="display: none;">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>
                                    Your email address will not be published. Required fields are marked
                                    *
                                </small>
                                <div class="d-flex my-3">
                                    <p class="mb-0 mr-2">Your Rating * :</p>
                                    <div class="text-primary">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <!-- <i class="rate far fa-star "></i>
                                        <i class="rate far fa-star"></i>
                                        <i class="rate far fa-star"></i>
                                        <i class="rate far fa-star"></i>
                                        <i class="rate far fa-star"></i> -->
                                    </div>
                                </div>
                                @using (Html.BeginForm("Rating", "Customers", FormMethod.Post))
                                {

                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label for="message">Your Review *</label>
                                        <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Your Name *</label>
                                        <input type="text" class="form-control" name="name" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Your Email *</label>
                                        <input type="email" class="form-control" name="email" id="email">
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


