@using PagedList
@model IPagedList<project3.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* Breadcrumb Start *@
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Products</a>
                <span class="breadcrumb-item active">Products List</span>
            </nav>
        </div>
    </div>
</div>
@*Breadcrumb End *@
@* Shop Start *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("[data-countdown]").each(function () {
        var $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function (event) {
            $this.html(event.strftime('%D days %H:%M:%S'))
        }).on('finish.countdown', function () {
            $this.html("Finish");
        });
    });
</script>
<div class="container">

    <!-- Shop Product Start -->
    <div>
        <div class="row pb-3">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                @if (item.Images != null && item.Images.ElementAtOrDefault(0).Img != null)
                                {
                                    <img class="img-fluid w-100" src="data:image; base64, @System.Convert.ToBase64String(item.Images.ElementAtOrDefault(0).Img)" alt="">
                                }
                                else
                                {
                                    <img class="img-fluid w-100" src="" alt="">
                                }
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="~/User/Shop/Details/@item.pro_ID">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a class="btn btn-outline-dark btn-square" href="~/User/Customers/Your_buying"> <i class="far fa-star"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="detail.html">@item.NamePro</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$@item.StartingPrice</h5>
                                    <h6 class="text-muted ml-2"><del>$@item.StepPrice</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1" id="countdown" data-countdown="">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (ViewBag.Shop != null)
            {
                if (ViewBag.Shop.Count > Model.PageSize)
                {
                    <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Customers", new { pi = Model.PageNumber > 1 ? Model.PageNumber - 1 : Model.PageNumber })"><span>Previous</span></a></li>
                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    <li class="@(Model.PageNumber==i?"page-item active":"page-item")"><a class="page-link" href="@Url.Action("Index", "Customers", new { pi = i })">@i</a></li>
                                }
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Customers", new { pi = Model.PageNumber < Model.PageCount ? Model.PageNumber + 1 : Model.PageNumber })">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                }
            }
        </div>
    </div>
    <!-- Shop Product End -->
</div>
</div>
<!-- Shop End -->
