<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    @*Favicon *@
    <link href="~/favicon.ico" rel="icon">

    @*Google Web Fonts *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    @*Font Awesome *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

    @*Libraries Stylesheet *@
    <link href="~/Scripts/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Scripts/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    @*Customized Bootstrap Stylesheet *@
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-aboutus.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Images/img/logo-1.png">
    <link rel="stylesheet" href="~/Content/css/style-login.css">
    <link rel="stylesheet" href="~/Content/css/rating.css">
    <!-- Styles -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
  
</head>
<body>

    <div class="container-fluid">
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">

            <div class="col-lg-2">
                <a href="~/" class="text-decoration-none">
                    <img class="logo" src="~/Images/img/logo.png" alt="">
                </a>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-4 col-6 text-left">
                @using (Html.BeginForm("Index", "Shop", FormMethod.Get, new { @id = "search" }))
                {
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" value="@ViewBag.search" id="search" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary" onclick="$('#search').submit()">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 col-6 text-center row">
                <div class="navbar-nav ml-auto py-0 d-none d-lg-block col-4 mt-2">
                    <a href="~/User/Shop" class="btn px-0 ml-3">
                        <i class="fas fa-shopping-cart text-primary "></i>
                        <span class="badge border border-primary rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
                <div class="dropdown m-0 col-8 mt-3">

                    @if (Session["cus"] == null)
                    {
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                            <i class="fa-solid fa-user-large" style="color: #fd7e14;"></i> Account
                        </a>
                        <div class="dropdown-menu bg-light rounded-0 border-0 m-0">
                            <a href="~/Admin/Account/Login" class="dropdown-item">Login as Administrator</a>
                            <a class="dropdown-item show-modal">Login</a>
                            <a class="dropdown-item show-modal">Register</a>
                        </div>
                    }
                    else
                    {
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                            @using (var db = new project3.Models.dbauctionsystemEntities())
                            {
                                project3.Models.Customer custom = db.Customers.Find(int.Parse(Session["cus"].ToString()));
                                <img class="avatar" src="https://anhdephd.vn/wp-content/uploads/2022/04/avatar-trang-1.jpg" alt="avt">
                                @(custom!=null?custom.UserName:"")
                            }
                        </a>
                        <div class="dropdown-menu bg-light rounded-0 border-0 m-0">
                            <a href="~/User/Customers" class="dropdown-item">My profile</a>
                            <a href="@Url.Action("Logout","Home")" class="dropdown-item">Logout</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- Popup Start -->
    <!-- Login Start -->
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        <div class="@(ViewBag.login!=null?ViewBag.login:"wrapper wrapper-login modal-login")" style="position: fixed;">
            <div class="container-login main-login main">
                <div class="row-login row">
                    <div class="col-md-6-login col-md-6 side-image-login side-image">
                        <a class="logo-login" href="~/"><img class="logo-text" src="~/Images/img/logo.png" alt=""></a>
                    </div>
                    <div class="col-md-6-login col-md-6 right-login right">
                        <p class="close-modal close-modal-login">&times;</p>
                        <div class="input-box-login input-box m-auto">

                            <h1>Login</h1>

                            <div class="input-field-login input-field">
                                <input type="text" class="input-login input" name="UnameLogin" id="Password">
                                @Html.ValidationMessage("UnameLogin", "", new { @class = "text-danger" })

                                <label for="name">Username</label>
                            </div>
                            <div class="input-field-login input-field">
                                <input type="password" class="input-login input" name="PwordLogin" id="Password">
                                <label for="password">Password</label>
                                @Html.ValidationMessage("PwordLogin", "", new { @class = "text-danger" })
                            </div>

                            <div class="input-field-login input-field">
                                <input type="submit" class="submit-login submit" name="submit" id="submit" value="Submit">
                            </div>
                            @Html.ValidationMessage("summaryLogin", "", new { @class = "text-danger" })
                            <!-- <div class="signup-login signup">
                                <span>Have an account? <a class="show-modal-link">Sign Up here</a></span>
                            </div> -->

                        </div>

                    </div>

                </div>
            </div>
        </div>
    }
    <!-- Login End -->
    <!-- Register Start -->
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        <div class="@(ViewBag.regist!=null?ViewBag.regist:"wrapper wrapper-login modal-login")" style="position: fixed;">
            <div class="container container-login main main-login">
                <div class="row row-login">
                    <div class="col-md-6 col-md-6-login side-image side-image-login">
                        <a class="logo-login" href="~/"><img class="logo-text" src="~/Images/img/logo.png" alt=""></a>

                    </div>
                    <div class="col-md-6 col-md-6-login right right-login">
                        <p class="close-modal close-modal-login">&times;</p>
                        <div class="input-box input-box-login m-auto">
                            @*<p class="close-modal close-modal-login">&times;</p>*@
                            <h1>Register</h1>
                            <div class="input-field input-field-login">
                                <input type="text" class="input-login input" name="UserName" id="Password">
                                <label for="name">Username</label>
                                @Html.ValidationMessage("UserName", "", new { @class = "text-danger" })

                            </div>
                            <div class="input-field input-field-login">
                                <input type="text" class="input-login input" name="Password" id="Password">
                                <label for="password">Password</label>
                                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })

                            </div>
                            <div class="input-field input-field-login">
                                <input type="email" class="input-login input" name="Email" id="Password">
                                <label for="email">Email</label>
                                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })

                            </div>
                            <div class="input-field input-field-login">
                                <input type="text" class="input-login input" name="PhoneNumber" id="Password">
                                <label for="phone">Phone</label>
                                @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger" })
                            </div>
                            <div class="input-field input-field-login">
                                <input type="text" class="input-login input" name="Address" id="Password">
                                <label for="address">Address</label>
                                @Html.ValidationMessage("Address", "", new { @class = "text-danger" })

                            </div>
                            <div class="input-field">
                                <label for="address">Gender</label>
                                <input type="radio" name="Sex" value="Male"> Male
                                <input type="radio" name="Sex" value="Female"> Female
                                <input type="radio" name="Sex" value="Other"> Other
                                @Html.ValidationMessage("Sex", "", new { @class = "text-danger" })

                            </div>
                            <div class="input-field input-field-login">
                                <input type="submit" class="submit submit-login" name="submit" id="submit" value="Sign Up">
                            </div>
                            @Html.ValidationMessage("summary", "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Register End -->
    <div class="@(ViewBag.overlay!=null?ViewBag.overlay:"overlay")" style="position: fixed;"></div>

    <!-- Navbar Start -->
    <div class="container-fluid bg-primary mb-30 sticky-top">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse"
                   href="#navbar-vertical" style="height: 50px; padding: 0 30px;">
                    <h6 class="text-light m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-light"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
                     id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">

                        @using (var db = new project3.Models.dbauctionsystemEntities())
                        {
                            List<project3.Models.Category> categories = db.Categories.Where(c => c.Parent_ID == null).ToList();
                            foreach (var item in categories)
                            {
                                List<project3.Models.Category> cat = db.Categories.Where(c => c.Parent_ID == item.cat_ID).ToList();
                                if (cat.Count > 0)
                                {
                                    <div class="nav-item dropdown dropright">
                                        <a href="~/User/Shop/Index?cat_ID=@item.cat_ID" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                            @item.NameCat <i class="fa fa-angle-right float-right mt-1"></i>
                                        </a>
                                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                            @foreach (var item1 in cat)
                                            {
                                                <a href="~/User/Shop/Index?cat_ID=@item1.cat_ID" class="dropdown-item">@item1.NameCat</a>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a href="~/User/Shop/Index?cat_ID=@item.cat_ID" class="nav-item nav-link">@item.NameCat</a>
                                }

                            }
                        }


                    </div>
                </nav>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <nav class="navbar navbar-expand-lg bg-primary navbar-dark py-3 py-lg-0 px-0">
                    <div class="collapse navbar-collapse justify-content-between display-inline" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0 flex-direction-row">
                            <a href="~/" class="nav-item nav-link active">Home</a>
                            <a href="~/User/Shop" class="nav-item nav-link">Shop</a>
                            <a href="~/User/Customers/History" class="nav-item nav-link">History Auctions</a>
                            <div class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Pages <i class="fa fa-angle-down mt-1"></i>
                                </a>
                                <div class="dropdown-menu bg-light rounded-0 border-0 m-0">
                                    <a href="~/User/Customers/Your_buying" class="dropdown-item">Your buying</a>
                                    <a href="~/User/Shop/Sell_products" class="dropdown-item">Our Shop</a>
                                    <a href="~/User/Customers/Selling" class="dropdown-item">Sell an item</a>
                                    <a href="~/User/Shop/Auction" class="dropdown-item">Auctions</a>
                                </div>
                            </div>
                            <a href="~/User/Home/Contact" class="nav-item nav-link">Contact</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    @RenderBody()

    <hr />

    <!-- Footer Start -->
    <div class="container-fluid bg-gray text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">About Us</h5>
                <p class="mb-4">
                    Embark on this journey with us, as we navigate the diverse and enriching world of auctions,
                    where passion meets innovation, and limitless experiences await.
                </p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>19 P. Lê Thanh Nghị, Bạch Mai, Hai Bà Trưng, Hà Nội, Việt Nam</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>aptechltn@learning.edu.vn</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="~/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="~/User/Shop/Sell_products"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="~/User/Shop/Auction">
                                <i class="fa fa-angle-right mr-2"></i>Auction
                            </a>
                            <a class="text-secondary mb-2" href="~/User/Shop">
                                <i class="fa fa-angle-right mr-2"></i>Shopping
                                Cart
                            </a>
                            @*<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>*@
                            <a class="text-secondary" href="~/User/Home/Contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="~/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="~/User/Shop/Sell_products"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="~/User/Customers/Your_buying">
                                <i class="fa fa-angle-right mr-2"></i>Orders
                            </a>
                            <a class="text-secondary mb-2" href="~/User/Customers">
                                <i class="fa fa-angle-right mr-2"></i>My Profile
                            </a>
                            <a class="text-secondary mb-2" href="~/User/Customers/History"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="~/User/Home/Contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="~/Images/img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



    <script src="~/Scripts/js/login-js.js"></script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/lib/easing/easing.min.js"></script>
    <script src="~/Scripts/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Scripts/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Scripts/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>
