@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("[data-countdown]").each(function () {
        var $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function (event) {
            $this.html(event.strftime('%D days %H:%M:%S'))
        }).on('finish.countdown', function () {
            $this.html("Finish");
        });
    });
</script>
<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    @{
                        IEnumerable<project3.Models.Auction> auctions = ViewBag.Auctions;
                        IEnumerable<project3.Models.Product> products = ViewBag.Products;
                        IEnumerable<project3.Models.Category> categories = ViewBag.Categories;
                        if (ViewBag.Products != null)
                        {
                            foreach (project3.Models.Product item in products.Take(3))
                            {
                                <div class="carousel-item position-relative active" style="height: 430px;">
                                    <img class="position-absolute w-100 h-100" src="data:image; base64, @System.Convert.ToBase64String(item.Images.ElementAt(0).Img)" style="object-fit: cover;">
                                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">
                                                @item.NamePro
                                            </h1>
                                            <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                                                @item.Description
                                            </p> <br />
                                            <p class="mx-md-5 px-5 animate__animated animate__bounceIn" data-countdown="@item.EndTime">
                                                @item.Description
                                            </p>
                                            <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                               href="~/User/Shop/Details/@item.pro_ID">Bid Now</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            @if (ViewBag.Auctions != null)
            {
                foreach (project3.Models.Auction item in auctions.Take(2))
                {
                    <div class="product-offer mb-30" style="height: 200px;">
                        <img class="img-fluid" src="data:image; base64, @System.Convert.ToBase64String(item.REL_Pro_Au.ElementAt(0).Product.Images.ElementAt(0).Img)" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase" data-countdown="@item.EndTime">@item.StartTime - @item.EndTime</h6>
                            <h3 class="text-white mb-3">@item.NameAu</h3>
                            <a href="~/User/Shop/Index?au_ID=@item.au_ID" class="btn btn-primary">Go to Auctions</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Categories</span>
    </h2>
    <div class="row px-xl-5 pb-3">
        @if (ViewBag.Categories != null)
        {
            foreach (project3.Models.Category item in ViewBag.Categories)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" href="~/User/Shop/Index?cat_ID=@item.cat_ID">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" style="object-fit:contain" src="data:image; base64,@System.Convert.ToBase64String(item.Image)" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>@item.NameCat</h6>
                                <small class="text-body">@item.Products.Where(p => p.EndTime > DateTime.Now).ToList().Count Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
<!-- Categories End -->
<!-- AboutUs Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">
            About
            Us
        </span>
    </h2>
    <div class="about">

        <div class="container1">
            <section class="about1">
                <div class="about-image">
                    <img src="~/Images/img/about-us.jpg" alt="">
                </div>
                <div class="about-content">
                    <div class="heading">
                        <h1>Welcome to <span class="text-primary1"> Online Auction</span></h1>
                    </div>
                    <p>
                        Welcome to the captivating realm of auctions, where anticipation and possibility intertwine
                        to create a truly exhilarating experience.
                        Auctions are not merely about transactions; they are a platform for showcasing artful
                        negotiation, creativity, and business acumen.
                    </p>
                    <p>
                        Embark on this journey with us, as we navigate the diverse and enriching world of auctions,
                        where passion meets innovation, and limitless experiences await.
                    </p>
                    <p>
                        <h1 class="fa fa-check text-primary2">
                            <span class=" about-us-font">
                                Opportunity for
                                Discovery
                            </span>
                        </h1><br />
                        <h1 class="fa fa-check text-primary2"><span class=" about-us-font"> Transparency</span></h1>
                        <br />
                        <h1 class="fa fa-check text-primary2">
                            <span class=" about-us-font"> Fair Market Value</span>
                        </h1><br />
                        <h1 class="fa fa-check text-primary2">
                            <span class=" about-us-font">
                                Diverse Range of
                                Products
                            </span>
                        </h1><br />
                        <h1 class="fa fa-check text-primary2">
                            <span class=" about-us-font"> Security and Privacy</span>
                        </h1>

                    </p>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- AboutUs End -->
<!-- Products Start -->

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Products</span>
    </h2>
    <div class="row px-xl-5">
        @if (ViewBag.Products != null)
        {
            foreach (project3.Models.Product item in ViewBag.Products)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">

                            <img class="img-fluid w-100" src="data:image; base64, @System.Convert.ToBase64String(item.Images.ElementAt(0).Img)" />

                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href="~/User/Shop/Details/@item.pro_ID"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href="@Url.Action("Index", "Shop", new {search = item.NamePro})"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href=""> <h4>@item.NamePro</h4></a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>$@item.StartingPrice</h5>
                                <h6 class="text-muted ml-2"><del>$@item.StepPrice</del></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1 countdown" id="countdown" data-countdown="@item.EndTime">

                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<!-- Products End -->
<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col owl-carousel related-carousel-auction">
            @if (ViewBag.Auctions != null)
            {
                foreach (project3.Models.Auction item in auctions.Skip(2).ToList())
                {
                    <div class="product-offer mb-30" style="height: 300px;">
                        <img class="img-fluid" src="data:image; base64, @System.Convert.ToBase64String(item.REL_Pro_Au.ElementAt(0).Product.Images.ElementAt(0).Img)" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase countdown" id="countdown" data-countdown="@item.EndTime"></h6>
                            <h3 class="text-white mb-3">@item.NameAu</h3>
                            <a href="" class="btn btn-primary">Go to Auction</a>
                        </div>
                    </div>

                }
            }
        </div>
        </div>
</div>
<!-- Offer End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/Images/img/vendor-1.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Images/img/vendor-2.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Images/img/vendor-3.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Images/img/vendor-4.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Images/img/vendor-5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Images/img/vendor-6.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Images/img/vendor-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Images/img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
