@model project3.Models.Auction
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div>
    <h4 class="text-center">Auction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameAu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

    </dl>
    <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr class="text-primary">
                    <th scope="col">Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Start Price</th>
                    <th scope="col">Price Step</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.rel != null)
                {


                    foreach (project3.Models.REL_Pro_Au item in ViewBag.rel)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.NamePro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.EndTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.StartingPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.StepPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Description)
                            </td>
                            
                            
                            
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.au_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
