
@using PagedList;
@model IPagedList<project3.Models.Auction>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table text-start align-middle table-hover mb-0 table-striped">
    <tr>
        <th>
            NameAu
        </th>
        <th>
            StartTime
        </th>
        <th>
            EndTime
        </th>
        <th>
            Employee
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.au_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.au_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.au_ID })
            </td>
        </tr>
    }

</table>
<ul class="pagination">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <li class="@(i == Model.PageNumber?"page-item active":"page-item") me-3">
            <a class="page-link" href="@Url.Action("Index", new{pi = i})">@i</a>
        </li>

    }
</ul>

